body {
  background-color: #f3fcdb;
  }

.jumbotron {
    background-image: url("bacteria.png");
    background-size: 100% 100%;
    text-align: center;
  }

list-group-item {
  font-family: inherit;
  font-size: 1rem;
  list-style:none;
}